[submodule "CUE4Parse"]
	path = CUE4Parse
	url = https://github.com/FabianFG/CUE4Parse.git
[submodule "UEModelsConverter"]
	path = UEModelsConverter
	url = https://github.com/Masusder/UEModelsConverter.git
